body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#post-container {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    margin-top: 1em;
    font-size: 28px;
}

.text-brand {
    font-size: 2rem;
    font-weight: 700;
}

.color-b {
    font-size: 2rem;
    font-weight: 700;
    color: #2eca6a;
}

.title {
    padding: 1em;
}
